* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "NS Sans", Arial, sans-serif;
    background-color: var(--cc-black-95);
    color: #070721;
    line-height: 1.5625rem;
    min-width: 20rem;
}

section:nth-of-type(1) {
    margin: 10% 5%;
    padding: 5%;
    background-color: var(--cc-white);
    border-radius: 10px;
}

/* --------- form standaard instellingen ----------------------------------*/

form {
    position: relative;
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
  }

fieldset {
    border: none;
    height: auto;
}

/* buttons */

button{
    padding: 15px 30px;
    background-color: var(--cc-text-link);
    border-radius: 10px;
    border: none;
    
    color: var(--cc-white);
    text-decoration: none;
}

button:hover{
    background-color: var(--cc-text-link-hover);
}

/* --------- fieldset 1: Persoonsgegevens overlijdenspersoon ------------- */

form div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

form label {
    padding-top: 20px;
}

form label input {
    border: .0625rem solid #cdcdd3;
    display: block;
    height: 2.8125rem;
    margin-right: 30px;
    padding: 0px 10px;
    border-radius: .25rem;
    width: 250px;
}

#bsn {
    max-width: 70px;
}

section:nth-of-type(1) form li:nth-of-type(4) div{
    flex-direction: row;
    gap: 5px ;
}

section:nth-of-type(1) form li:nth-of-type(4) div input{
    min-width: 50px;
}

/* -------------------- radio buttons --------------------- */

.expandable {
    display: none;
    padding: 10px;
    margin-top: 5px;
  }

  /* Laat .expandable zien als "Yes" is geselecteerd */
  input[type="radio"]:checked + .expandable {
    display: block;
}


/* --------- UX aspecten -------- */

/* label::after:has(input:required) {
    content: "*";
} */
